version: '3'
services:
  db:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=spe
      - MYSQL_USER=umang
      - MYSQL_PASSWORD=password
    container_name: nuptials-db
    expose:
      - "3301"
    ports:
      - "3301:3306"
    restart: always
    volumes:
      - my-datavolume:/var/lib/mysql
  node-api:
    build:
      context: .
    image: um86/nuptials2
    depends_on:
      - db
    command: 'npm run dev'
    ports:
      - "4200:4200"
      - "3000:3000"
    environment:
      - NODE_ENV=DEVELOPMENT
      - MYSQL_USER=umang
      - MYSQL_PASS=password
      - MYSQL_HOST=nuptials-db
      - SECRET_KEY=12345
      - MYSQL_DB =spe
    container_name: nuptials-app
    expose:
      - "4200"
      - "3000"
volumes:
    my-datavolume:
  



    
  

  
  